.contact__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    margin: 2rem auto;
    height: 520px;
}

.contact__right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.contact__left{
   height: 100%;
}

.contact__right input{
    height: 1.8rem;
    border: none;
    outline: none;
    background-color: rgb(232, 237, 241);
}
.contact__right label{
    margin: 1rem 0;
}
#input__msg{
    height: 4rem;
}
.contact__btn{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    height: 1.5rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: blue;
}

.contact__img{
    width: 100%;
    height: 520px;
    object-fit: cover;
}